@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img {
    width: 100%;
    transition: transform 1s;
}

.slide img:hover {
    transform: translateZ(20px);
}

.slider::after, .slider::before {
    /* background-color: gray; */
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    top: 0;
    left: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}